@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Playfair+Display&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.35;
}

.about, hr ,.products, .testimonials{
    margin: 1% 3.5%;
    color: #000;
}


a{
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 1.2px #707070;
}
    footer{
        background-color: #A7B1C2;
    }


/* HOMEPAGE */
.container-home{
    background-image: url('https://i.postimg.cc/Wb7bKNMk/shawnanggg-nmp-W-Www-VSc-unsplash.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

.container-home h2{
    text-align: center;
    color: #fff;
}


header{
    background-color: #F3E5AB;
    display: flex;
    justify-content: center;
    padding: 1.5%;
}
.navbar{
    background-color: #4e342ec5;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
}

.navbar li{
    list-style: none;
    padding: 1.5%;
}

.about{
    text-align: center;
    margin: 2% 25% 0.5% 25%;
}

.about button, .h-btn{
    padding: 2%;
    margin-top: 2%;
    border-radius: 25px;
    border: none;
}

.container-home .home-products{
    /* background-color: #FFB3A7; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 2% 0% 2% 8%;
}

.home-products img{
    width: 100%;
    border-bottom: 1px solid #000;
    
}

.cards{
    box-shadow: 0 0 8px #000;
    width: 75%;
    background-color: #f4f4f45e;
}

.cards h3{
    text-align: center;
}

.cards h3, .cards p{
    padding: 2%;
}

.cards p{
    padding: 2.5%;
}

.container-home .testimonials{
    /* background-color: #F3E5AB; */
}


.testimonials{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 1% 8% 2% 8%;
    margin: 1% 10% 2% 15%;
}

.testimonials div{
    padding: 5%;
    border-radius: 15%;
}

.client{
    background-color: #f4f4f45e;
    box-shadow: 0 0 8px #000;
    margin-top: 4%;
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testimonials img{
    width: 75%;
    border-radius: 25%;
    box-shadow: 0 0 8px #000;
}

/* ABOUT PAGE */
.container-about{
    background-image: url('https://i.postimg.cc/nrf94qT4/about-background.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}
